<div #content class="modal-header border-0">
  <h5 class="modal-title" style="font-weight: 700; margin-right: auto">
    {{ title | translate }}
  </h5>
  <button
    *ngIf="showCloseButton"
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true" class="btn-light btn-alert-exit bg-exit-btn d-inline-flex p-2 rounded">
      <img src="assets/media/svg/close-icon.svg" width="18" height="18" />
    </span>
  </button>
</div>
<div class="modal-body text-left py-0 enable-scroll">
  <div [innerHTML]="contentHTML" class="mb-0"></div>
</div>
<div class="modal-footer border-0 d-flex justify-content-end">
  <button
    type="button"
    class="btn btn-outline-primary d-inline-flex"
    (click)="activeModal.close('Close click'); handleClickCancelButton()">
    <span *ngIf="cancelButtonIcon" class="material-icons mr-2">
      {{ cancelButtonIcon }}
    </span>
    {{ cancelButtonTitle | translate }}
  </button>
  <button
    *ngIf="showConfirmButton"
    type="button"
    class="btn btn-primary d-inline-flex ml-2"
    ngbAutofocus
    (click)="activeModal.close('Close click'); handleClickConfirmButton()">
    <span *ngIf="confirmButtonIcon" class="material-icons mr-2">
      {{ confirmButtonIcon }}
    </span>
    {{ confirmButtonTitle | translate }}
  </button>
</div>
